<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="levelPath" value="Assets/Level/"/>
		<add key="spritesPath" value="Assets/Sprites/"/>
		<add key="textureMediumStableBlockPath" value="Blocks/medium.png"/>
		<add key="textureWeakResistantBlockPath" value="Blocks/weak.png"/>
		<add key="textureSteadyBlockPath" value="Blocks/steady.png"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>